@font-face {
  font-family: 'Console';
  src: url('../../fonts/Console.ttf');
}

/* Scrollbar CSS */
* {
  scrollbar-width: auto;
  scrollbar-color: #5a585a #ffffff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #0000002d;
  border-radius: 4px;

}

body{
  background: url('../../img/backgrounds/background.jpg') no-repeat center center fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  font-family: 'Console';
}

.main-container{
  display: flex;
  flex-direction: column;
  height: auto;
}

.cart-container{
  height: auto;
}

.cart-board{
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  height: auto;
  width: 100%;
}

.resume-col{
  width: 100%;
  border-radius: 10px;
  border: none;
  background: none;
}

.profile-card{
  width: 90%;
  margin: 0 auto;
  background-color: rgb(37, 36, 36);
  border: 3px solid #5e1b88;
  border-radius: 10px;
  height: auto;
}

.profilepic {
  position: relative;
  width: 125px;
  height: 125px;
  left: 50%;
  top: -58px;
  transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
  background-color: #111;
  border: 3px solid #5e1b88;
  box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.75);
}

.profilepic:hover .profilepic__content {
  opacity: 1
}

.profilepic:hover .profilepic__image {
  opacity: .5;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.profilepic__icon {
  color: white;
  padding-bottom: 8px;
}

.fas {
  font-size: 20px;
}

.profilepic__text {
  text-transform: uppercase;
  font-size: 12px;
  width: 50%;
  text-align: center;
}

.content-img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-col{
  margin-bottom: 15px;
}

.titles{
  display: none;
}

.field-group {
  position: relative;
  margin: 20px 0 10px 0;
}

.field-group .fg-field {
  background-color: rgba(255, 255, 255, 0.433);
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
  outline: none;
}

.field-group .fg-label {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 15px;
  pointer-events: none;
  transition: 0.3s ease all;
  color: rgb(255, 251, 251);
  text-shadow: none;
}

.fg-label-valid{
  position: absolute;
  pointer-events: none;
  transition: 0.3s ease all;
  top: -18px;
  left: 4px;
  font-size: 14px;
  color: white;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}

.field-group .fg-field:focus {
  box-shadow: 0px 0px 4px 5px #5e1b88;
}


.title{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.668);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}

.btn-submit{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.resume{
  width: 90%;
  height: 300px;
  border-radius: 10px;
  background-color: rgb(37, 36, 36);
  margin-bottom: 30px;
}

.description{
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.details{
  display: flex;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.668);
}

.details:hover{
  color: white;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}

.header-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description span {
   margin-left: 0; 
}

.fa-check{
  color: green;
}

.name-amount{
  height: 100%;
}

.amount{
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}

.total-amount{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.total-amount > h4{
  margin-block-start: 0;
  margin-block-end: 0;
}

.fa-dollar-sign{
  font-size: 13px;
  margin: 0 0;
}



/* Front Validation */
.errores-v{
  color: white;
  width: 80%;
}

.errores-v li{
  display: list-item;
  font-size: small;
}


.errors{
  display: flex;
  justify-content: center;
  color: red;
  font-size: small;
  text-align: center;
}

.admin_links{
  display: flex;
  flex-direction: column;
}

.a-links{
  text-decoration: none;
  color: rgba(240, 248, 255, 0.762);
}

.a-links:hover{
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}

/*TABLET*/

@media (min-width:648px) and (max-width: 1024px) {

  .titles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .form-container{
    display: flex;
    flex-direction: row;
  }

  .form-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .title-mb{
    display: none;
  }

  .total-amount{
    justify-content: center;
  }

  .fa-dollar-sign{
    font-size: 14px;
    margin: 0 10px;
  }

}


/*DESKTOP*/

@media (min-width:1024px) {

  .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cart-board{
    width: auto;
  }

  .form{
    margin-top: 50px;
  }

  .profile-card{
    width: 40rem;
    border-radius: 10px;
    height: auto;
  }

  .form-container{
    display: flex;
    flex-direction: row;
  }

  .resume-col{
    width: 40rem;
  }

  .resume{
    width: 40rem;
  }

  .products{
    max-height: 40%;
  }

  .form-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .titles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .total-amount{
    justify-content: center;
  }

  .title-mb{
    display: none;
  }

  .fa-dollar-sign{
    font-size: initial;
    margin: 0 10px;
  }
  


}

