body{
  background: url('../../img/backgrounds/background5.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  overflow-x: hidden;
}



.form-container{
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  z-index: 0;
}



@media (max-width:642px) {

  body{
    background: url('../../img/backgrounds/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    overflow-x: hidden;
  }

  .form-container{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }


  .form-in{
    margin-top: 0;
  }

  
  header{
    height: 15vh;
  }
}
@media (max-height: 800px) {
  .form-container{
    height: 100vh;
    margin-top: 30px;
  }
}



@media (min-width: 642px) and (max-width:1024px){

body{
  background: url('../../img/backgrounds/background5.jpg') no-repeat 80% center fixed;
  background-size: cover;
}
  
  
}