<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../css/products_styles/product_list.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
  <title>Lista de Productos</title>
</head>
<body>
  <div class="main-container">
    <%- include('../partials/header') %> 
    <div class="menu-container">
      <div class="side-bar">
        <div class="bar">
         
        </div>
        
      </div>
      <div class="menu">
       
      </div>
    </div>
  </div>
</body>

</html>