@font-face {
  font-family: 'Star jedi out';
  src: url('../../fonts/Starjout.ttf');
}

@font-face {
  font-family: 'Star jedi';
  src: url('../../fonts/Starjedi.ttf');
}

@font-face {
  font-family: 'Console';
  src: url('../../fonts/Console.ttf');
}

body{
  background: url('../../img/backgrounds/background4.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}

.nav{
  display: flex;
  justify-content: space-between;
}

/* Main */

form{
display: flex;
}

.product_detail_center{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 55px;
}

/* Pizza */

.product_detail_pizza{
  margin-top: 70px;
  width: 50vw;
  animation: product_detail_pizza_anim 300s linear infinite;
  animation-delay: 500ms;
}

.nombre_pizza{
  display: flex;
  justify-content: center;
  font-family: 'Star jedi';
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88, 0px -2px 0 #5e1b88, 21px 0px 0px rgba(255,255,255,0);
  margin-top: -50px;
}

.precio_pizza{
  display: flex;
  justify-content: center;
  font-size: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
  font-family: "Console";
}

@keyframes product_detail_pizza_anim {
  0% {
    transform: translateY(0px) rotate(-360deg);
  }

  100% {
    transform: translateY(0px) rotate(360deg);
  } 
}

/* Menu Extras */

.cuadro_extras{
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  align-self: center;
  width: 240px;
  border: 2px solid #4e21a4;
  padding: 10px;
  margin: 9px;
  order: -1;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 3px #4e21a4;
}

.cuadro_extras h3{
  align-self: flex-start;
  font-family: 'Star jedi';
  font-size: 22px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88, 0px -2px 0 #5e1b88, 21px 0px 0px rgba(255,255,255,0);
  justify-self: center;
  text-align: center;
}

.cuadro_extras h4{
  font-family: 'Star jedi';
  color: #000;
  text-shadow: 1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88, 0px -2px 0 #5e1b88, 21px 0px 0px rgb(255 255 255 / 0%);
  font-weight: normal;
  font-size: 22px;
  text-align: center;
}

.cuadro_extras .product_detail_cuadro_extras{
  align-self: flex-start;
  font-family: "console";
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 15px;
  display: block;
  text-transform: capitalize;
}

.check-list{
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* Menu Bebidas */

.cuadro_bebidas{
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  align-self: center;
  width: 240px;
  border: 2px solid #4e21a4;
  padding: 10px;
  margin: 9px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 3px #4e21a4;
}

.cuadro_bebidas .product_detail_cuadro_bebidas{
  display: flex;
  justify-content: space-between;
  font-family: "console";
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 15px;
  text-transform: capitalize;
}

.cuadro_bebidas h4{
  font-family: 'Star jedi';
  color: #000;
  text-shadow: 1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88, 0px -2px 0 #5e1b88, 21px 0px 0px rgb(255 255 255 / 0%);
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.cuadro_bebidas h3{
  align-self: flex-start;
  font-family: 'Star jedi';
  font-size: 18px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88, 0px -2px 0 #5e1b88, 21px 0px 0px rgba(255,255,255,0);
  justify-self: center;
  text-align: center;
}

.product_detail_cuadro_bebidas{
  align-self: flex-start;
  font-family: "Myriad Pro";
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 15px;
  justify-self: center;
  text-align: left;
  padding: 6px;
  text-transform: capitalize;
}

.cuadro_bebidas label{
  display: block;
}

.contarBebidas{
  width: 40px;
  border: #4e21a4;
}

/* Boton agregar */

.flex-dark{
  display: flex;
  justify-content: center;
}

.bttn-dark{
  color: rgba(255, 255, 255, 0.707);
  font-family: 'Console';
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  text-shadow: 0px 0px 0, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88;
}

.product_detail_precio{
  color: #fff;
  font-family: 'Console';
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  text-shadow: 0px 0px 0, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88;
}

/* Mobile */
@media (max-width:768px) {

  /* Main */

  form{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .product_detail_pizza{
    width: 70vw;
    order: 1;
    margin: 0;
    top: 100%;
  }

  .cuadro_extras{
    display: flex;
    order: 2;
    width: 70vw;
    align-content: flex-start;
  }

  .cuadro_extras .product_detail_cuadro_extras{
    margin-left: 20px;
    font-size: 15px;
    text-align: left;
  }

  .cuadro_extras h3{
    align-self: center;
  }

  .cuadro_extras div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px 0 15px 0;
  }

  .cuadro_extras div p{
    width: 50%;
  }

  /* Cuadro Bebidas */ 

  .cuadro_bebidas{
    display: flex;
    width: 70vw;
    order: 3;
  }

  .cuadro_bebidas h3{
    align-self: center;
    font-size: 30px;
  }

  .cuadro_bebidas h4{
    font-size: 26px;
  }

  .cuadro_bebidas .product_detail_cuadro_bebidas{
    font-size: 20px;
  }

}

/* TABLETS */

@media (min-width:767px) and (max-width:1024px) {

  form{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .product_detail_pizza{
    width: 70vw;
    order: 1;
    margin: 0;
    top: 100%;
  }

  .nombre_pizza{
    font-size: 35px;
  }

  .precio_pizza{
    font-size: 30px;
    margin-bottom: 10px;
  }

  .cuadro_extras{
    display: flex;
    order: 2;
    width: 70vw;
    align-content: flex-start;
  }

  .cuadro_extras .product_detail_cuadro_extras{
    margin-left: 20px;
    font-size: 22px;
    text-align: left;
  }

  .cuadro_extras h3{
    align-self: center;
    font-size: 30px;
  }

  .cuadro_extras h4{
    align-self: center;
    font-size: 26px;
  }

  .cuadro_extras div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px 0 15px 0;
  }

  .cuadro_extras div p{
    width: 50%;
  }

  /* Cuadro Bebidas */ 

  .cuadro_bebidas{
    display: flex;
    width: 70vw;
    order: 3;
  }

  .cuadro_bebidas h3{
    align-self: center;
    font-size: 30px;
  }

  .cuadro_bebidas h4{
    font-size: 26px;
  }

  .cuadro_bebidas .product_detail_cuadro_bebidas{
    font-size: 22px;
  }

/* Boton Agregar */

  .flex-dark{
    align-items: center;
    margin-top: 20px;
  }
  .flex-dark .bttn-dark{
    font-size: 27px;
    width: 355px;
  }
}

/*DESKTOP*/

@media (min-width:1024px) {

  .flex-dark{
    align-items: center;
    margin-bottom: 20px;
  }

}