@font-face {
  font-family: 'Console';
  src: url('../../fonts/Console.ttf');
}

body{
  background: url('../../img/backgrounds/background.jpg') no-repeat center center fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  font-family: 'Console';
}

.ref{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.703);
}

.ref:hover{
  color: rgba(255, 255, 255, 0.703);;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}


.main-container{
  display: flex;
  flex-direction: column;
}

.menu-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.side-bar{
  width: 100%;
  display: flex;
  justify-content: center;
}

.bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  background-color: rgb(37, 36, 36);
  box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.75);
  border: 3px solid #5e1b88;
}

.product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
}

.menu{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.bttn-dark{
  width: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 360px;
  background-color: rgb(37, 36, 36);
  border: 3px solid #5e1b88;
  border-radius: 10px;
  transition: 1.3s;
  margin-bottom: 20px;
}

.card:hover{
  transform: scale(1.1);
  transition: 1.3s;
}

.img-product{
  width: 100%;
  height: 70%;
}

.img-product > img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.description-box{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 90%;
  height: 20%;
  margin: 0 auto;
}

.actions{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: center;
  width: 90%;
  margin: 0 auto;
}

.fa-pen{
  color: rgb(0, 136, 255)
}

/* TABLETS */

@media (min-width:648px) {

  .product-container{
    width: 90%;
    height: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: space-around;
  }
  
}



/* DESKTOP */

@media (min-width: 1024px) {

  .menu-container{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .menu{
    width: 80%;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  .side-bar{
    width: 20%;
    height: 70vh;
  }

  
  .bar{
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .product-container{
    width: 90%;
    height: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: space-around;
  }

  

  
}