@font-face {
  font-family: 'Console';
  src: url('../../fonts/Console.ttf');
}

body{
  background: url('../../img/backgrounds/background.jpg') no-repeat center center fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  font-family: 'Console';
}

.navbar{
  display:none
}

.main-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Front Validation*/
.errores-v{
  color: white;
  width: 80%;
}

.errores-v li{
  display: list-item;
  font-size: small;
}

/* Check Validation Front*/
.check-name,
.check-price,
.check-description{
  position: absolute;
  top: 14px;
  right: 13px;
  color: rgb(13, 255, 82);
  text-shadow: 0px 0px 0, 1px 2px 6px #000000;
}

.hidden{
  display: none;
}

/* Alert Circle Validation Front*/
.alert-circle-name, 
.alert-circle-price,
.alert-circle-description{
  position: absolute;
  top: 14px;
  right: 13px;
  color: rgb(255, 13, 13);
  text-shadow: 0px 0px 0, 1px 2px 6px #000000;
}



.form-container{
  display: flex;
  flex-direction: column;
  background-color: #353536;
  border: 3px solid #5e1b88;
  box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.75);
}

form{
  margin: 8px auto;
}

.form-row{
  display: flex;
  flex-direction: column-reverse;
}

.form-col{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


.img-container{
  width: 70%;
  height: auto;
}

.img-container > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.field-group {
  position: relative;
  margin: 28px 0 11px 0;
}

.field-group input:focus + .fg-label,
.field-group input:not(:focus):valid + .fg-label {
  top: -18px;
  left: 4px;
  font-size: 14px;
  color: white;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}

.field-group .fg-field {
  background-color: rgba(255, 255, 255, 0.433);
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
  outline: none;
}

.field-group .fg-field:focus {
  box-shadow: 0px 0px 4px 5px #5e1b88;
}

.field-group .fg-label {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 15px;
  pointer-events: none;
  transition: 0.3s ease all;
  color: rgb(255, 251, 251);
}

textarea{
  resize: none;
  font-family: 'Arial';
  width: 244px;
  height: 100px;
}

.field-group textarea:focus + .fg-label,
.field-group textarea:not(:focus):valid + .fg-label {
  top: -18px;
  left: 4px;
  font-size: 14px;
  color: white;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}

select{
  font-family: 'Console';
  font-size: 15px;
  padding-left: 10px;
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.433);
  cursor: pointer;
}

select > option{
  background-color: rgba(0, 0, 0, 0.432);
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 265px;
  height: 45px;
  margin: 20px 0 10px 0;
  border-radius: .25em;
  overflow: hidden;
}


.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #5e1b88;
  transition: .25s all ease;
  pointer-events: none;
}

.select:hover::after {
  color: #ffffff;
}

.select-label{
  font-size: 14px;
  padding-bottom: 1px;
  color: white;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}


.custom-file-upload:hover{
  background-color: #370889;
}

input[type="file"] {
  display: none;
}


.custom-file-upload {
  margin: 15px;
  display: inline-block;
  background-color: #353536;
  color: white;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
  border: 2px solid #101011;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 6px 12px;
  cursor: pointer;
}

.img-input{
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-label{
  color: white;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;

}

.delete-btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: rgba(185, 12, 12, 0.878);
  border: 2px solid #101011;
  border-radius: 8px;
  width: 110px;
  height: 45px;
  font-family: 'Console';
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.delete-btn:hover{
  background-color: rgba(108, 4, 4, 0.878);
}

.submit-btn{
  margin: 13px;
  display: flex;
  justify-content: space-around;
}

.form-delete{
  display: flex;
  justify-content: center;
}

/* MODAL */

.modal {
  display: none; 
  position: fixed; 
  z-index: 2; 
  padding-top: 200px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}

.contenido-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; 
  background-color: #353536;
  border-radius: 10px;
  border: 3px solid #5e1b88;
  margin: auto; 
  padding: 20px;
  width: 40%;
  -webkit-animation-name: animarsuperior;
  -webkit-animation-duration: 0.5s;
  animation-name: animarsuperior;
  animation-duration: 0.5s
}

.title-modal{
  text-align: center;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.648);
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}

/* Animación */
@keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animarsuperior {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Botón cerrar */
.close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



@media (max-width: 642px) {

  .form-container{
    width: 90%;
    margin-bottom: 50px;
  }
  
  .submit-btn{
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .delete-btn{
    margin-top: 30px;
    height: 40px;
  }
  
}

@media (min-width: 643px) and (max-width: 1023px) {

  .form-container{
    width: 90%;
  }

  .form-col{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }

  .form-row{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .submit-btn{
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .delete-btn{
    margin-top: 30px;
    height: 40px;
  }
  
}



@media (min-width: 1024px) {


  .container{
    height: 80vh;
    margin-bottom: 50px;
  }

  .form-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
  }

  .form-row{
    display: flex;
    flex-direction: row-reverse;
  }

  .form-col{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }



  
 
}