<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <title>Astro Pizza</title>
</head> 
<body>
  <header>
    <div>
      <a href="/"><img class="logo" src="../img/Astro Pizza Logo.png" alt=""></a>
    </div>
    <!--
    <div class="container">
    <video autoplay muted loop>
      <source src="../video/banner_video.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
  </div>
  -->
  </header>

  <section class="menu">
    <div class="product">
      <a href="/product_detail"><img class='img_product' src="../img/products/Mercurio.png"/></a>
      <div class="product-name">mercurio</div>
    </div>
    <div class="product">
      <a href="/product_detail"><img class='img_product' src="../img/products/Venus.png"/></a>
      <div class="product-name">venus</div>
    </div>
  </section>

  <section class="menu">
    <div class="product">
      <a href="/product_detail"><img class='img_product' src="../img/products/Marte.png"/></a>
      <div class="product-name">marte</div>
    </div>
    <div class="sun">
      <img class='sun' src="../img/products/sun.png"/>
    </div>
    <div class="product">
      <a href="/product_detail"><img class='img_product' src="../img/products/Jupiter.png"/></a>
      <div class="product-name">jupiter</div>
    </div>
  </section>
 
  <section class="menu" id="bottom">
    <div class="product">
      <a href="/product_detail"><img class='img_product' src="../img/products/Saturno.png"/></a>
      <div class="product-name id-bottom">saturno</div>
    </div>
    <div class="product" id="bottom-product">
      <a href="/product_detail"><img class='img_product' src="../img/products/Neptuno.png"/></a>
      <div class="product-name">neptuno</div>
    </div>
    <div class="product">
      <a href="/product_detail"><img class='img_product' src="../img/products/Urano.png"/></a>
      <div class="product-name id-bottom">urano</div>
    </div>
  </section>

</body>
</html>