*{
    box-sizing: border-box;
}



.tu-pedido{
   
    text-align: center;
    justify-content: center;
    padding: .5em .8em;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0px 0px 0, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88;
    font-family: 'Console';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;


}

.tu-pedido::before,
.tu-pedido::after{
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;

}

.tu-pedido::before{
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #5a1489;
    border-right: 3px solid #4c1074;
    transform: translate(-100%, 50%);
}

.tu-pedido::after{
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #5a1489;
    border-left: 3px solid #4c1074;
    transform: translate(100%, -50%)
}



.pedido-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid violet 8px;
    width: 70%;
    border-radius: 15px;
    
    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20%;
    text-align: center;
    height: 350px;
}

.pedido-items{
    display: flex;
    color: aqua;
    font-family: "Console";
    flex-direction: row;
    
}

.flex-dark{
    bottom: 27%;
}

.items-1{
    width: 33%;
}

