@font-face {
  font-family: 'Console';
  src: url('../fonts/Console.ttf');
}


body{
  background: url('../img/backgrounds/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  overflow-x: hidden;
  height: 100vh;
  font-family: 'Console'; 
  display: flex;
  flex-direction: column;
}


.main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}


#astronaut-box,
#pizza-box{
display: none;
}


.text-paragraph{
  color: rgba(255, 255, 255, 0.511);
}

.accordion-button{
  color: rgba(255, 255, 255, 0.703);
  background-color: rgb(50, 49, 49);
}

.accordion-item{
  color: rgba(255, 255, 255, 0.703);
  background-color: rgb(43, 42, 42);
}

.accordion-button:not(.collapsed){
  color: rgba(255, 255, 255, 0.668);
  background-color: #5e1b88;
}


.accordion{
  box-shadow: 0px 11px 20px 7px rgba(0,0,0,0.75);
  border-radius: 20%;
  --bs-accordion-btn-focus-border-color: #ef0000;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25 rgb(70 6 6);
}

.ref{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.703);
}

.ref:hover{
  color: rgba(255, 255, 255, 0.703);;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}


.footer-title{
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
}


/*MOBILE*/
@media (max-width: 642px) {
  .top-navbar{
    margin-bottom: 3%;
  }
}


/*TABLETS*/

@media (min-width: 642px) {

  .container-mn{
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .display-container{
    width: 50%;
  }

  #astronaut-box{
    display: inherit;
    position: absolute;
    left: -5%;
    width: 60%;
    top: 34%;
    max-height: none;
    animation: anim-box 20s linear infinite;
    animation-delay: 1s;
    overflow: hidden;
    z-index: -1;
  }
}
 


/*DESKTOP*/

@media (min-width:1024px) {

  .main-container{
    height: 100vh;
  }


  .display-container{
    width: 100%;
  }

  .body-main{
    height: auto;
  }
  

  .container-mn{
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .top{
    position: absolute;
    width: 50%;
    height: 30%;
  }
  

  #pizza-box{
    display: inherit;
    position: absolute;
    width: 40%;
    top: 130%;
    left: 52%;
    animation: anim-pizzabox 20s linear infinite;
    animation-delay: 1s;
    overflow: hidden;
    z-index: -1;
  }
  
  #astronaut-box{
    display: inherit;
    position: absolute;
    left: 10%;
    width: 60%;
    top: 70%;
    max-height: none;
    animation: anim-box 20s linear infinite;
    animation-delay: 1s;
    overflow: hidden;
    z-index: -1;
  }
  

  footer{
    
    flex: 0;
  }

}
    

@keyframes anim-box {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px) rotate(-10deg);
  }
   100% {
    transform: translateY(0px);
  }
}

@keyframes anim-pizzabox {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px) rotate(15deg);
  }
   100% {
    transform: translateY(0px);
  }
}