@font-face {
  font-family: 'Star jedi out';
  src: url('../fonts/Starjout.ttf');
}
@font-face {
  font-family: 'Star jedi';
  src: url('../fonts/Starjedi.ttf');
}
@font-face {
  font-family: 'Console';
  src: url('../fonts/Console.ttf');
}

html{
  scroll-behavior: smooth;
}


body{
  background: url('../img/background3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  overflow-x: hidden;
}

.container-main{
  background:
  url(../img/background.png) no-repeat center;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  }

.top-navbar{
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 118px;
  align-content: space-between;
  justify-content: space-between;
}

.logo{
  position: relative;
  bottom: 10%;
  width: 100%;
  height: 140%;
   }


li{
  display: inline;
}

.nav{
  font-family: 'Console';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav .link {
  padding: .5em .8em;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 0px 0px 0, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #5a1489;
  border-right: 3px solid #4c1074;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #5a1489;
  border-left: 3px solid #4c1074;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #000000;
  -webkit-text-stroke: .1px rgb(255, 255, 255);
}


.container-page{
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin: 0 auto;
  width: 90%;
  height: auto;
}

h1{
  font-family: 'Star jedi';
  font-size: 5vw;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88, 0px -2px 0 #5e1b88, 21px 0px 0px rgba(255,255,255,0);
}

.title{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 20%;
  text-align: center;
  z-index: 2;
}

.text{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  font-family: 'Console';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.707);
 }

.flex-dark{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5%;
  text-align: center;
  z-index: 2;
}

 .top-navbar{
  width: 100%;
 }

  .navbar{
    display: none;
  }

  main{
    display: flex;
  }


  .flex-dark{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 5%;
    text-align: center;
    z-index: 2;
  }

      /*MENU*/

  .menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
  }

  .container{
    display: none;
  }

  .img_product{
    width: 300px;
  }

  .product{
    position: relative;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.6s 0s ease-in-out;
    -moz-transition: all 0.6s 0s ease-in-out;
    -o-transition: all 0.6s 0s ease-in-out;
    transition: all 0.6s 0s ease-in-out;
  }

  .product-name{
    position: absolute;
    bottom: 4%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-family: 'Star jedi';
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88, 0px -2px 0 #5e1b88, 21px 0px 0px rgba(255,255,255,0);
  }

  .sun{
    display: none;
  }

  .id-bottom{
    transform: translate(-50%, -50%);
  }

  .main-bottom{
    position: absolute;
    bottom: 0%;
    left: 0%;
    overflow: hidden;
  }

  /*FOOTER*/

  footer{
    width: 100%;
    height: auto;
    background-color: rgb(37, 36, 36);
    box-shadow: 0px -12px 29px 1px rgba(0,0,0,0.75);
  }


  .logo-footer-img{
    position: relative;
    width: 35vw;
   }

  .row {
    display: flex;
    width: 100%;
  }
  
  .column {
    display: flex;
    width: 33%;
    justify-content: center;
  }

  .footer-title{
    text-align: center;
    font-family: 'Console';
    color: rgba(255, 255, 255, 0.668);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
  }

  .social-media{
    display: flex;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.703);
    font-size: 25px;
    padding-inline-start: 16px;
    padding-inline-end: 12px;
  }

  .social-media > li:hover{
    text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
  }

  .terms-links{
    text-align: center;
    font-family: 'Console';
    font-size: x-small;
    padding-inline-start: 0px;
  }

  .terms-links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.668);
  }

  .terms-links li{
    margin-bottom: 8px;
    display: list-item;
    list-style: none;
  }

  .terms-links li:hover{
    text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
  }

  .signature{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.522);
    font-family: 'Console';
    font-size: 10px;
  }
  



@media (min-width:642px) and (max-width:1023px) {


  .menu-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sun{
    display: none;
  }

  .img_product{
    width: 250px;
  }

  .menu#bottom{
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-logo{
    display: flex;
    justify-content: center;
    width: 65%;
  }

  .logo-footer-img{
    width: 100%;
   }
  

}

  /* TABLETS */

@media (min-width:768px) and (max-width:1023px) {


  .img_product{
    width: 250px;
  }
  
  .id-bottom{
    top: 77%;
    left: 55%;
  }

  .menu{
    flex-direction: row;
  }
  }


  /*DESKTOP MEDIA QUERY*/

  @media (min-width:1024px) {

    .logo{
      width: 100%;
      height: 170%;
    }
   
    .container-page{
      position: absolute;
      left: 0;
      right: 0;
      top: 8%;
      margin: 0 auto;
      width: 90%;
      height: 70vh;
      z-index: -1;
    }
    
    .navbar{
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
    }

    h1{
      font-family: 'Star jedi';
      font-size: 2vw;
      letter-spacing: 2px;
      text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88, 0px -2px 0 #5e1b88, 21px 0px 0px rgba(255,255,255,0);
    }

    .text{
      font-size: 1.5vw;
      text-shadow: 0px 0px 0, 0px 9px 11px #5e1b88, 0px 2px 0 #5e1b88, -2px 0px 0 #5e1b88;
    }
    
  
    .title{
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 20%;
      text-align: center;
      z-index: 2;
   }

   /*MENU DESKTOP*/

  .menu-container{
    margin-bottom: 100px;
  }

  .menu{
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .menu#bottom{
    display: flex;
    height: 380px;
  }


  .product#bottom-product{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 250px;
  }

  .product#side{
    display: flex;
    align-self: flex-start;
  }

  .product:hover{
    transform: scale(1.2)
  }


  .sun{
    display: inline;
    width: 246px;
    transform: scale(1.4);
    padding-left: 25px;
    padding-right: 58px;
    transform-origin: center 75px;
    z-index: -1;
  }

  .id-bottom{
    transform: translate(-42%, -35%);
  }


  /*FOOTER*/

  footer{
    display: block;
    width: 100%;
    height: auto;
  }

  
  .footer-logo{
    display: flex;
    justify-content: center;
    width: 25%;
  }

  .logo-footer-img{
    width: 100%;
   }
  
  }
  
  

