@font-face {
  font-family: 'Console';
  src: url('../fonts/Console.ttf');
}

body{
  background: url('../img/background.jpg') no-repeat center center fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  font-family: 'Console';
}


footer{
  flex: 0;
}

.main-container{
  display: flex;
  flex-direction: column;
}

/* FORM */

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  z-index: 0;
}

.form-col > img{
  display: none;
}

.form-col2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.form-in{
  width: 90%;
  margin-top: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 36, 36);
  border: 3px solid #5e1b88;
  box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.75);
}

.field-group {
  position: relative;
  margin: 20px 0 10px 0;
}

.field-group input:focus + .fg-label,
.field-group input:not(:focus):valid + .fg-label {
  top: -18px;
  left: 4px;
  font-size: 14px;
  color: white;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}


textarea{
  resize: none;
  font-family: 'Arial';
  width: 90%;
}

.field-group textarea:focus + .fg-label,
.field-group textarea:not(:focus):valid + .fg-label {
  top: -18px;
  left: 4px;
  font-size: 14px;
  color: white;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
}

.field-group .fg-field {
  background-color: rgba(255, 255, 255, 0.433);
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
  outline: none;
}

.field-group .fg-field:focus {
  box-shadow: 0px 0px 4px 5px #5e1b88;
}

.field-group .fg-label {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 15px;
  pointer-events: none;
  transition: 0.3s ease all;
  color: rgb(255, 251, 251);
}

.center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

select{
  font-family: 'Console';
  font-size: 15px;
  padding-left: 10px;
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.433);
  cursor: pointer;
}

select > option{
  background-color: rgba(0, 0, 0, 0.432);
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 265px;
  height: 45px;
  margin: 20px 0 10px 0;
  border-radius: .25em;
  overflow: hidden;
}


.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #5e1b88;
  transition: .25s all ease;
  pointer-events: none;
}

.select:hover::after {
  color: #ffffff;
}

.custom-file-upload {
  display: inline-block;
  background-color: #353536;
  color: white;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
  border: 2px solid #101011;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload:hover{
  background-color: #370889;
}

input[type="file"] {
  display: none;
}

.asteroid#a1, .asteroid#a2{
  display: none;
}

/*DESKTOP*/
@media (min-width: 642px) {

  header{
    z-index: 1;
  }

  .main-container{
    height: 100vh;
  }

  .form-container{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 0;
  }

  .form-col{
    position: absolute;
    width: 50%;
    height: 100vh;
  }
  
  .form-col2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    float: right;
    background-color: transparent;
  }

  .form-col > img{
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer{
    flex: 0;
  }

}

@media (min-width: 1024px) {

.form-in{
  width: 400px;
  margin-top: 80px;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 36, 36);
  border: 3px solid #5e1b88;
  box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.75);
}
.asteroid#a1{
  display: block;
  position: absolute;
  width: 8%;
  bottom: 17%;
  left: 35%;
  animation: asteroid 60s linear infinite;
  animation-delay: 1s;
  overflow: hidden;
  z-index: 2;
}

.asteroid#a2{
  display: block;
  position: absolute;
  width: 11%;
  top: 11%;
  left: 53%;
  animation: asteroid 60s linear infinite;
  animation-delay: 1s;
  overflow: hidden;
  z-index: -2;
}

.asteroid#a3{
  display: block;
  position: absolute;
  width: 5%;
  top: 83%;
  left: 87%;
  animation: asteroid2 90s linear infinite;
  animation-delay: 1s;
  overflow: hidden;
  z-index: -2;
}
}

@keyframes asteroid {
  0% {
    transform: translateY(0px) rotate(-360deg);
  }
   50% {
    transform: translateY(60px);
  }  

   100% {
    transform: translateY(0px) rotate(360deg);
  } 
}

@keyframes asteroid2 {
  0% {
    transform: translateY(0px) rotate(-360deg);
  }
   50% {
    transform: translateY(100px);
  }  

   100% {
    transform: translateY(0px) rotate(360deg);
  } 
}