

/* Toast messages */
#toast {
  position: fixed;
  right: 32px;
  top: 32px;
  z-index: 99999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: rgb(40, 39, 39);
  border-radius: 4px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}
.progress-track{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: rgb(26, 24, 24);
}
.progress-running{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  transition: all 0.5s;
}
.progress--success {
  background-color: #47d864;

}

.progress--info {
  background-color: #2f86eb;

}
.progress--warning {
  background-color: #ffb702;

}

.progress--error {
  background-color: #ff623d;
}

@keyframes progress {
  to{
    width: 0%;
  }
}
@keyframes slideInLeft {
  from {
      transform: translateX(calc(100% + 32px));
      opacity: 0;
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes fadeOut {
  to {
      opacity: 0;
      transform: translateX(calc(100% + 32px));

  }
}

.toast + .toast {
  margin-top: 24px;
}

.toast--success {
  border-color: #47d864;

}
.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}
.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}
.toast--warning .toast__icon {
  color: #ffc021;
}
.toast--error {
  border-color: #ff623d;
}
.toast--error .toast__icon {
  color: #ff623d;
}

.toast__icon {
  font-size: 24px;
}

.toast__close,
.toast__icon {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: rgb(234, 222, 222);
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.toast__close:hover {
  opacity: 0.8;
}

