<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../css/404.css">
  <title>Pagina no encontrada - Astro Pizza</title>
</head>
<body>
  <div class="container">
    <h1>404</h1>
    <span>Parece que estas perdido en el espacio.</span>
  </div>
</body>
</html>