<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../css/404.css">
  <title>Pagina no encontrada - Astro Pizza</title>
</head>
<body>
  <div class="container">
    <img class="asteroid"  id="a1" src="../img/asteroid_1.png" alt="">
    <h1><span>P</span><span>A</span><span>G</span><span>I</span><span>N</span><span>A</span><span class="w"> </span><span>N</span><span>O</span><span class="w"> </span><span>E</span><span>N</span><span>C</span><span>O</span><span>N</span><span>T</span><span>R</span><span>A</span><span>D</span><span>A</span></h1>
    
    <boi>
      <img class='ejected' src="../img/astro_ejected.webp">
    </boi>

    
    <img class="asteroid" id="a2" src="../img/asteroid_2.png" alt="">

  </div>
</body>
</html>