<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../css/footer.css">
  <link rel="stylesheet" type="text/css" href="../css/header.css">
  <link rel="stylesheet" type="text/css" href="../css/animation.css">
  <link rel="stylesheet" type="text/css" href="../css/about.css">
  <title>Sobre Nosotros</title>
</head>
<body>
  <%- include('./partials/header') %> 
  <div id="comets">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="main-container">
    

      

  </div>


  <%- include('./partials/footer') %> 
</body>
</html>