<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/header.css">
  <link rel="stylesheet" type="text/css" href="../css/footer.css">
  <link rel="stylesheet" type="text/css" href="./css/faqs.css" />
  <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter', 'sans-serif'],
          },
        }
      }
    }
  </script>
  <title>Preguntas Frecuentes</title>
</head>
<body>

  <div class="main-container">

  <%- include('./partials/header') %> 

    <img id="astronaut-box" src="../img/Astronaut.png" alt="">
    <img id="pizza-box" src="../img/Pizza_box.png" alt="">

  <div class="body-main">
    <div class="container-mn">
      <div class="display-container">
      </div>
      <div class="display-container">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item border-t-0 border-l-0 border-r-0 rounded-none bg-grey border border-gray-200">
            <h2 class="accordion-header mb-0" id="flush-headingOne">
              <button class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray text-left
            bg-grey
            border-0
            rounded-none
            transition
            focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                aria-expanded="false" aria-controls="flush-collapseOne">
                Cuanto tiempo tarda el delivery
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse border-0 collapse"
              aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body py-4 px-5">
                <p class="text-paragraph">
                  Los tiempos de preparacion depende del nivel de demanda que presentemos en el momento y de la disponibilidad de repartidores. por eso se estima un tiempo de 30 minutos para la entrega, tratamos en los dias de alta demanda llegar lo mas rapido posible a tu domicilio.
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item border-l-0 border-r-0 rounded-none bg-grey border border-gray-200">
            <h2 class="accordion-header mb-0" id="flush-headingTwo">
              <button class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray text-left
            bg-grey
            border-0
            rounded-none
            transition
            focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                aria-expanded="false" aria-controls="flush-collapseTwo">
                Hasta donde llegamos
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body py-4 px-5">
                <p class="text-paragraph">
                  Actualmente llegamos a los barrios: Palermo, Almagro, Recoleta, Villa Crespo, Colegiales, Chacarita, Belgrano, Villa Urquiza y Coghlan.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item border-t-0 border-l-0 border-r-0 rounded-none bg-grey border border-gray-200">
            <h2 class="accordion-header mb-0" id="flush-headingThree">
              <button class="accordion-button
                  collapsed
                  relative
                  flex
                  items-center
                  w-full
                  py-4
                  px-5
                  text-base text-gray text-left
                  bg-grey
                  border-0
                  rounded-none
                  transition
                  focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                      aria-expanded="false" aria-controls="flush-collapseThree">
                    Que costo tiene el delivery
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body py-4 px-5">
                <p class="text-paragraph">
                  El costo del envio esta sujeto a las metricas entre la tienda y el domicilio, tomamos siempre en cuenta la cantidad de Km a recorrer, ademas el costo puede verse incrementado en algunos caso debido a cambios climaticos. 
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item border-t-0 border-l-0 border-r-0 rounded-none bg-grey border border-gray-200">
            <h2 class="accordion-header mb-0" id="flush-headingOne">
              <button class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray text-left
            bg-grey
            border-0
            rounded-none
            transition
            focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                aria-expanded="false" aria-controls="flush-collapseFour">
                Cancelar un pedido
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" 
            data-bs-parent="#accordionFlushExample">
              <div class="accordion-body py-4 px-5">
                <p class="text-paragraph">
                  Despues que el pedido haya sido confirmado por la tienda el pedido no puede cancelarse, de hacerlo despues de haber sido confirmado sufrira una penalizacion del 20% del cobro total del pedido.
                </p>
            </div>
          </div>
          </div>

          <div class="accordion-item border-t-0 border-l-0 border-r-0 rounded-none bg-grey border border-gray-200">
            <h2 class="accordion-header mb-0" id="flush-headingOne">
              <button class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray text-left
            bg-grey
            border-0
            rounded-none
            transition
            focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                aria-expanded="false" aria-controls="flush-collapseFive">
                Pedidos incompletos o erroneos
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" 
            data-bs-parent="#accordionFlushExample">
              <div class="accordion-body py-4 px-5">
                <p class="text-paragraph">
                  En este caso debera contactar con soporte por la web o directamente por whatsapp para gestionar la devolucion y reintegro segun sea el caso. si el pedido aplica a reintegro tenga en cuenta que el reintegro total o parcial tendra un tiempo aproximado de 10 dias habiles, segun sea el caso.
                </p>
            </div>
          </div>
          </div>

          <div class="accordion-item border-t-0 border-l-0 border-r-0 rounded-none bg-grey border border-gray-200">
            <h2 class="accordion-header mb-0" id="flush-headingOne">
              <button class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-gray text-left
            bg-grey
            border-0
            rounded-none
            transition
            focus:outline-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix"
                aria-expanded="false" aria-controls="flush-collapseSix">
                Cambiar articulos del pedido en curso
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" 
            data-bs-parent="#accordionFlushExample">
              <div class="accordion-body py-4 px-5">
                <p class="text-paragraph">
                  Despues que el pedido haya sido confirmado por la tienda el pedido no puede modificarse. de darse el caso que la tienda tenga falta de stock de algun articulo sera contactado telefonicamente para ofrecer otras opciones. 
                </p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
</div>

  <%- include('./partials/footer') %> 

  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>
</html>