<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="./css/button.css">
  <link rel="stylesheet" type="text/css" href="./css/animation.css">
  <link rel="stylesheet" type="text/css" href="./css/product_detail_styles.css">
  <title>Nombre del producto</title>
</head>
<body>

  <header>
    <div class="top-navbar">
      <div class="container-logo">
        <a href="/"><img class="logo" src="../img/Astro Pizza Logo.png" alt=""></a>
      </div>
      <div class="navbar">
        <nav>
          <ul class="nav">
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">ingresa</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <section class="product_detail_center">
      <div class="cuadro_extras">
      <h3>Agrégale Extras</h3>

        <h4>Quesos $100</h4>
      
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="queso">MUZZARELLA
            </label>
          </p>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="queso">PROVOLONE
            </label>
          </p>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="queso">PARMESANO
            </label>
          </p>
        
          <h4>Vegetales $90</h4>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="vegetales">Morron Rojo
            </label>
          </p>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="vegetales">Cebolla Blanca
            </label>
          </p>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="vegetales">Champiñones
            </label>
          </p>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="vegetales">Aceitunas Verdes
            </label>
          </p>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="vegetales">Aceitunas Negras
            </label>
          </p>

          <h4>Proteinas $120</h4>

          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="proteinas">Bacon
            </label>
          </p>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="proteinas">Jamón
            </label>
          </p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="proteinas">Pastrami
            </label>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="proteinas">Salchica Italiana
            </label>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="proteinas">Salchica Alemana
            </label>
          <p>
            <label class="product_detail_cuadro_extras">
              <input type="checkbox" name="proteinas">Meatballs
            </label>
        </p>
      </div>
          
      <div>
            <img class='product_detail_pizza' src="../img/products/Urano.png"/>
            
      </div>

      <div class="cuadro_bebidas">

          <h3>Acompañalo con tu bebida favorita</h3>
          <h4>Bebidas 350ml $250</h4>

          <label class="product_detail_cuadro_bebidas">Agua
            <select name="agua" id="agua">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
            </select>
          </label>

          <label class="product_detail_cuadro_bebidas">Coca-Cola
            <select name="cocacola" id="cocacola">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
            </select>
          </label>

          <label class="product_detail_cuadro_bebidas">Sprite
            <select name="sprite" id="sprite">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
            </select>
          </label>

          <label class="product_detail_cuadro_bebidas">Fanta
            <select name="fanta" id="fanta">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
            </select>
          </label>

          <h4>Cerveza 355ml $350</h4>


          <label class="product_detail_cuadro_bebidas">Amber Roja
            <select name="amber" id="amber">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
            </select>
          </label>

          <label class="product_detail_cuadro_bebidas">Bohemian Rubia
            <select name="bohemian" id="bohemian">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
            </select>
          </label>

          <label class="product_detail_cuadro_bebidas">Weisse
            <select name="bohemian" id="bohemian">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
            </select>
          </label>

          <label class="product_detail_cuadro_bebidas">Corona
            <select name="corona" id="corona">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
            </select>
          </label>

          <label class="product_detail_cuadro_bebidas">Heineken
            <select name="heineken" id="heineken">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
            </select>
          </label>

      </div>
    </section>

    <div class="flex-dark">
      <a href="#carrito" class="bttn-dark">Agregar a la nave</a>
      <p class="product_detail_precio">$420</p>
    </div>  
    
</body>
</html>