<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/footer.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/button.css">
  <link rel="stylesheet" type="text/css" href="../css/animation.css">
  <link rel="stylesheet" type="text/css" href="../css/support.css">
  <title>Contacto</title>
</head>
<body>
  <div class="main-container">

    <%- include('./partials/header') %> 

      <div class="form-container">
        <div class="form-col">
          <img src="../img/71.png">
        </div>
        <div class="form-col2">
          <div class="form-in">
              <form action="/soporte" method="post">
                <div class="field-group">
                  <input type="text" class="fg-field" name="names" required>
                  <label class="fg-label">Nombre y Apellido</label>
                </div>
              
                <div class="field-group">
                  <input type="email" class="fg-field" name="email" required>
                  <label class="fg-label">Correo electronico</label>
                </div>

                <div class="field-group">
                  <input type="tel" class="fg-field" name="telephone" required>
                  <label class="fg-label">Telefono</label>
                </div>

                <div class="select">
                  <select name="topic">
                    <option disabled selected>Motivo</option>
                    <option value="Producto incompleto">Producto incompleto</option>
                    <option value="Producto en mal estado">Producto en mal estado</option>
                    <option value="Producto equivocado">Producto equivocado</option>
                  </select>
                </div>

                <div class="field-group">
                  <textarea class="fg-field" name="comments" required></textarea>
                  <label class="fg-label">Comentario</label>
                </div>
                
                <div class="field-group">
                  <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Seleccionar
                  </label>
                  <input id="file-upload" name="report_img" type="file"/>
                  <label class="fg-label">Adjuntar archivo:</label>
                </div>
                <div>
                  <button class="bttn-dark">Enviar</a>
                </div>
              </form>
              
          </div>
        </div>
      </div>
      <img class="asteroid" id="a1" src="../img/asteroid_1.png" alt="">
      <img class="asteroid" id="a2" src="../img/asteroid_2.png" alt="">
      <img class="asteroid" id="a3" src="../img/asteroid_3.png" alt="">
      <div id="comets">
        <i></i>
        <i></i>
        <i></i>
      </div>
  </div>

  <%- include('./partials/footer') %> 
</body>
</html>