<footer>
  <div class="row">
    <div class="column">
      <div class="footer-container">
        <h3 class="footer-title">Nuestras Redes</h3>
        <ul class="social-media">
          <li><a><i class="fa fa-instagram"></i></a></li>
          <li><a><i class="fa fa-facebook"></i></i></a></li>
          <li><a><i class="fa fa-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="column" id="center">
      <div class="footer-logo">
        <a href="/"><img class="logo-footer-img" src="../img/Astro Pizza Logo.png" alt=""></a>
      </div>
    </div>
    <div class="column">
      <div class="footer-container">
        <h3 class="footer-title">Legal</h3>
        <ul class="terms-links">
          <li><a>Terminos y condiciones</a></li>
          <li><a href="/faqs">Preguntas frecuentes</a></li>
          <li><a>Aviso legal</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="signature">
    <span>© 2022 | Pizzas de otro planeta 🚀.</span>
  </div>
</footer>