<header>
  <div class="top-navbar">
    <div class="container-logo">
      <a href="/"><img class="logo" src="../../img/Astro Pizza Logo.png" alt="logo"></a>
    </div>
    <div class="navbar">
      <nav>
        <ul class="nav">
          <li><a class="link" href="/sobre-nosotros">Quienes somos</a></li>
          <li><a class="link" href="/soporte">Soporte</a></li>
          <% if(!locals.usuario){ %>
            <li><a class="link" href="/users/login">Ingresa</a></li>
          <% } else { %>
            <div class="dropdown">
              <li>
                <a class="link">Perfil <i class="fa fa-caret-down"></i></a>
              </li>
              <div class="dropdown-content">
                <a class='link' id="dropdown" href="/users/profile"><i class="fas fa-user"></i> Mi perfil</a>
                <form id='logout' action="/users/logout" method="post">
                  <a class="link" id="dropdown" href="#" onclick="document.getElementById('logout').submit()"><i class="fas fa-power-off"></i> Cerrar Sesion</a>
                </form>
              </div>
            </div>

          <% } %>
          
        </ul>
      </nav>
    </div>
  </div>
</header>