<header>
  <div class="top-navbar">
    <div class="container-logo">
      <a href="/"><img class="logo" src="../../img/Astro Pizza Logo.png" alt="logo"></a>
    </div>
    <div class="navbar">
      <nav>
        <ul class="nav">

          <li><a class="link" href="/sobre-nosotros">Quienes somos</a></li>
          <li><a class="link" href="/soporte">Soporte</a></li>

          <% if(!locals.usuario){ %>

            <li><a class="link" href="/users/login">Ingresa</a></li>

          <% } else { %>

            <form id='logout' action="/users/logout" method="post">
              <li><a class="link" href="#" onclick="document.getElementById('logout').submit()">Cerrar Sesion</a></li>
            </form>

          <% } %>
          
        </ul>
      </nav>
    </div>
  </div>
</header>