<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="../img/favico.ico" type="image/x-icon">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/footer.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
  <link rel="stylesheet" type="text/css" href="../css/support.css">
  <link rel="stylesheet" type="text/css" href="../css/partials_styles/button.css">
  <title>Ingresá</title>
</head>
<body>
  <div class="main-container">

    <%- include('../partials/header') %> 

      <div class="form-container">
        <div class="form-col">
          <img src="../img/71.png">
        </div>
        <div class="form-col2">
          <div data-aos="zoom-in" class="form-in">
              <form action="/users/login" method="post">
                <% if(locals.errors){ %>

                  <ul>
                      <% errors.forEach(function(error) { %>
                          
                          <li> <%= error.msg %>  </li>

                      <% }) %>
                  </ul>
                  
              <% } %> 
                <div class="field-group">
                  <input type="text" name="email" class="fg-field">
                  <label class="fg-label">Email</label>
                </div>
              
                <div class="field-group">
                  <input type="password" name="password" class="fg-field">
                  <label class="fg-label">Contrasena</label>
                </div>

                <div>
                  <input type="checkbox" id="recordame" name="recordame">
                  <label for="recordame">Recordame</label>
                </div>

                <div class="register-u">
                  <div class="field-group">
                    <a class="forgot" href="/users/register">Registrate!</a>
                  </div>
                  <div class="field-group">
                    <a class="forgot" href="/">Olvidaste tu contrasena?</a>
                  </div>
                </div>

                <% if(locals.errorLogin){ %> 
                  <p><%= errorLogin %></p>
                  <% } %> 

                <div>
                  <button type="submit" class="bttn-dark">Ingresar</button>
                </div>
              </form>

          </div>
        </div>
      </div>

  </div>

  <%- include('../partials/footer') %> 
</body>
<script>
  AOS.init();
</script>
</html>