<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/65050c03d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/header.css">
    <link rel="stylesheet" type="text/css" href="../css/partials_styles/button.css">
    <link rel="stylesheet" type="text/css" href="../css/support.css">
    <link rel="stylesheet" type="text/css" href="../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../css/register.css">
    <title>Registro</title>
</head>
<body>
    <div class="main-container">

        <%- include('../partials/header') %>

        <div class="form-container">
           

            <div class="form-col2">
                <div class="form-in">
                    <form action="/users/register" method="post">
                        
                        <div class="field-group">
                            <input type="text" name="first_name" class="fg-field" required>
                            <label class="fg-label">Nombre</label>
                        </div>

                        <div class="field-group">
                            <input type="text" name="last_name" class="fg-field" required>
                            <label class="fg-label">Apellido</label>
                        </div>

                        <div class="field-group">
                            <input type="email" name="email" class="fg-field" required>
                            <label class="fg-label">Email</label>
                        </div>

                        <div class="field-group">
                            <input type="text" name="user_name" class="fg-field" required>
                            <label class="fg-label">Nombre de Usuario</label>
                        </div>
                        
                        <div class="field-group">
                            <input type="password" name="password" class="fg-field" required>
                            <label class="fg-label">Contrasena</label>
                        </div>

                        <div class="field-group">
                            <input type="password" class="fg-field" required>
                            <label class="fg-label">Repetir contrasena</label>
                        </div>

                        <div class="register-u">
                            <div class="field-group">
                                <a class="forgot" href="/users/login">Ya estas registrado?</a>
                            </div>
                        </div>
                        <div>
                          <button type="submit" class="bttn-dark">Registrarme</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>

    </div>

    <%- include('../partials/footer') %> 
</body>
</html>